{% extends "base.html" %}
{% block title %} Nova Reciclagem {% endblock %}
{% block content %}
    <h2>Registrar Reciclagem</h2>
    <form method="POST">

        <label for="material">Tipo de Material Reciclado</label>
        <select name="material" id="material" required>
            {% for material in materials %}
                <option value="{{ material.name }}">{{ material.name }}
            {% endfor %}
        </select>
        <br>

        <label for="weight">Peso (kg)</label>
        <input type="number" name="weight" id="weight" step="0.001" min="{{ default_weight }}" placeholder="Peso em kg" required>
        <br>

        <button type="submit">Adicionar Reciclagem</button>
        
    </form>
{% endblock %}