{% extends "base.html" %}
{% block title %} Suas Reciclagens {% endblock %}
{% block content %}
    <h2>Minhas Reciclagens</h2>
    <a href="{{ url_for("trash_register") }}">Adicionar Nova Reciclagem</a><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Material</th>
                <th>Peso (kg)</th>
                <th>Data</th>
                <th>Cash</th>
                <th>XP</th>
            </tr>
        </thead>
        <tbody>
            {% for trash_log in trash_logs %}
            <tr>
                <td style="max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ trash_log.material_ref.name }}</td>
                <td style="max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ trash_log.weight }}</td>
                <td style="max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ trash_log.date.strftime('%d/%m/%Y') }}</td>
                <td style="max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ '%.2f' % trash_log.cash_earned }}</td>
                <td style="max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ trash_log.xp_earned }}</td>
                <td>
                    <a href="{{ url_for('edit_log', id=trash_log.id) }} " class="btn btn-outline-primary btn-sm">Editar</a>
                    <form action="{{ url_for('delete_log', id=trash_log.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Você tem certeza de que quer deletar este material?');">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}