.bg-success-custom {
    background-color: #08b430 !important; /* Substitua #0ae23c pela cor desejada */
}

.toast {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.596) !important;
}

.link_logo {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

nav {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
}

main {
    padding: 20px;
    max-width: 1000px;
    min-height: 337px;
    margin: auto;
}

.foot {
    margin-top: 8%;
}

.foot a {
    text-decoration: none;
}

h1, h2 {
    color: #2e7d32;
}

.welcome {
    text-align: justify;
}

.logo {
    height: 5rem;
    width: 5rem;
    background-color: #ffffff25;
    border-radius: 100%;
}

.logo-tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ini-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    margin: 8px;
    padding: 10px 20px;
    background: #43a047;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 1rem;
}

.btn:hover {
    background: #2e7d32;
}

.navbar-text {
    margin-bottom: 0;
}

.navbar .navbar-text {
    color: rgb(0, 255, 0);
}

.navbar .dropdown {
    margin-left: auto;
}

@media (max-width: 991px) {
    .navbar .navbar-text {
        font-size: 1.2rem;
    }

    nav {
        background: url("../images/app_bar_icon.png") no-repeat center center;
        background-size: cover;
        height: 9rem;
    }

    .offcanvas .nav-item {
        border-radius: 5px;
    }
    .offcanvas .nav-item .nav-link {
        margin-left: 10px;
    }

    .btn-outline-light {
        border: 2px solid #fff !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    
    .btn-outline-light:active,
    .btn-outline-light:focus:active {
        background: rgba(0,0,0,0.3) !important;
        color: #fff !important;
    }

    .offcanvas .nav-item:hover, 
    .offcanvas .nav-item:focus {
        background-color: #14532d !important; /* tom mais escuro do verde */
        color: #fff !important;
    }
}

@media (min-width: 992px) {
    nav {
        background: url("../images/PageHeader.svg") no-repeat bottom center;
        background-size: cover;
    }

    .navbar .navbar-text {
        background-color: rgba(0, 0, 0, 0.438);
    }

    .dropdown-item {
        margin-left: 0;
        margin-right: 0;
    }

    /* Dropdown item hover: escurece o fundo */
    .dropdown-menu .dropdown-item:hover, 
    .dropdown-menu .dropdown-item:focus {
        background-color: #14532d !important; /* tom mais escuro do verde */
        color: #fff !important;
    }

    /* Garante que o fundo não ultrapasse o dropdown */
    .dropdown-menu {
        overflow: hidden;
        border-radius: 0.5rem;

    }

    .btn-outline-light,
    .btn-outline-light:focus,
    .btn-outline-light:active {
        box-shadow: none !important;
        background: transparent !important;
    }

    .btn-outline-light:active,
    .btn-outline-light:focus:active {
        background: rgba(0, 0, 0, 0.3) !important;
        color: #fff !important;
    }
}

.gradient-custom {
    background: #65f685;
    background: -webkit-linear-gradient(to right bottom, rgb(62, 207, 57), rgb(207, 253, 133));
    background: linear-gradient(to right bottom, rgb(83, 199, 73), rgb(164, 226, 93))
}

.row.pt-1 .col-6.mb-3 p {
    border-radius: 8px;
    background-color: rgb(42, 42, 44);
    text-align: center;
}